body {
        background-color: #78866B; /* Replace with the desired background color */
    }

    /* Custom Styles for the "Add Movie" button */
    .add-movie-btn {
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 999;
        border-radius: 50%;
        font-size: 14px;
        padding: 6px 12px;
        background-color: #FFA500;
        color: #fff;
        border: none;
    }

    .add-movie-btn:hover {
        background-color: #FF8C00;
        color: #fff;
    }